@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
	background-image: url(chromahacker_app_bg.png);
	background-size: cover;
}

.blurry {
	backdrop-filter: blur(5px);
}
